@page
@model WebCodesBares.Pages.Admin.CommandesModel
@{
    <h2>📦 Bezahlte Bestellungen</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Kunde</th>
                <th>Produkte</th>
                <th>PayPal-ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.ListeCommandes)
            {
                <tr>
                    <td>@c.DateAchat.ToShortDateString()</td>
                    <td>@c.ClientId</td>
                    <td>
                        <ul>
                            @foreach (var cp in c.CommandeProduits)
                            {
                                <li>@cp.Produit.Nom</li>
                            }
                        </ul>
                    </td>
                    <td>@c.PayPalId</td>
                </tr>
            }
        </tbody>
    </table>
}
