@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrierungsbestätigung";
}

<h1>@ViewData["Title"]</h1>

@if (Model.DisplayConfirmAccountLink)
{
  
}
else
{
    <p>Bitte überprüfen Sie Ihre E-Mails, um Ihr Konto zu bestätigen.</p>
}
