@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrierungsbestätigung";
}

<h1>@ViewData["Title"]</h1>

@if (Model.DisplayConfirmAccountLink)
{
    <div class="alert alert-warning">
        <p>🚧 Sie befinden sich im Entwicklungsmodus. Der Bestätigungslink wird unten angezeigt:</p>
        <p><a href="@Model.EmailConfirmationUrl">Klicken Sie hier, um Ihr Konto zu bestätigen</a></p>
    </div>
}
else
{
    <p>Bitte überprüfen Sie Ihre E-Mails, um Ihr Konto zu bestätigen.</p>
}
