@page
@model WebCodesBares.Pages.EinLogen.LogoutModel
@{
    ViewData["Title"] = "Déconnexion";
}

<h2>Déconnexion</h2>

<form method="post">
    <button type="submit" class="btn btn-primary">Se déconnecter</button>
</form>