@page
@model WebCodesBares.Pages.ErreurModel
@{
    ViewData["Title"] = "Erreur";
}

<h1>🚨 Une erreur est survenue 🚨</h1>
<p>Désolé, nous ne pouvons pas traiter votre demande pour le moment.</p>
<a asp-page="/Index" class="btn btn-primary">Retour à l'accueil</a>
